@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Oswald:wght@200..700&display=swap');

body {
 background: #22C1C3;
background: linear-gradient(135deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
 background-repeat: no-repeat; /* no tiling * /
 background-size: cover; /* stretch to fill screen */
 font-family: .oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
 color: white;
}






h1, h2, h3, h4, h5, h6 {
 font-family: "asimovian-regular", "Comic Sans, sans-serif; 
}
